*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Open Sans', sans-serif, Arial;
}
.container{
    background-color:black;
    width:1100px;
    margin: auto;
}
.container-features{
    background-color:black;
}
.container-news{
    background-color:white;
}
.header{
        background-color: #000;
}
.header__menu{
    margin: 0 20px;
    background-color: #000;
}
/* @font-face {
    font-family: Gora-free;
    src: url(../../fonts/Gora-free.ttf),
    local("gorafree"),
    url(../../fonts/gora-free-webfont.woff2);
} */

@font-face {
    font-family: 'gora_free';
    src:local(gora_free), 
        url('fonts/gora-free-webfont.woff2') format('woff2');
         /* url('../../fonts/gora-free-webfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;

}
.main-content{
    padding-bottom: 69px;
}
.main-icon{
    position: absolute;
    top: 20px;
    left: -36px;
}
.feed-icon{
    position: absolute;
    top: 17px;
    left: -37px;
}
.service-icon{
    position: absolute;
    top: 20px;
    left: -43px;
}

.header__logo{
    color: #b46f14;
    font-size: 18px;
    line-height: 76px;
    font-family: gora_free;
    float:left;
}
.navigation{
    float:left;
    line-height: 76px;
}
.nav-menu{
    list-style: none;
    margin-left:250px;
}
.nav-menu__item{
    display: inline-block;
    /* margin-top:16px; */
    line-height: 54px;
    position: relative;
}
.nav-menu__item:nth-child(3) .nav-menu__text{
    margin-left:-6px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.nav-menu__text{
    color:#fff;
    font-size:12px;
    margin-right: 70px;
    font-weight: 600;
    text-transform: uppercase;
}
.contacts{
   float:right;
}
.contacts__phone{
    font-size: 21px;
    color:#fff;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-top:13px;
}
.contacts__schedule{
    font-size: 14px;
    color: #b46f14;
    font-weight: 600;
    margin-left: 54px;
}
.header__picture{
   text-align:center;
   background-color: #fff;
   padding-top:80px;
   padding-bottom: 52px;
}
.features{
    padding-top:47px;
    color:#fff;
    padding-bottom: 100px;
    width:1100px;
    margin: auto;
    background-color:black;
}
.caption{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 61px;
    margin-left: -3px;
    margin-top: 1px;
}
.features__content{
    margin: 0 180px;
    font-weight: normal
}
.features__icon{
    width: 68px;
    height: 68px;
    border-radius: 72px;
    background: #f89513;
    margin-left: 65px;
    MARGIN-TOP: -11PX;
    position: relative;
}
.flower,
.star,
.palette{
    position: absolute;
    left: 20px;
    top: 20px;
}
.features__icon.premium{
    margin-left: 61px;
    width: 72px;
    height: 72px;
    margin-top: -13px;
    border-radius: 76px;
}
.features__icon.personal{
    width: 66px;
    height: 66px;
    border-radius: 72px;
    background: #f89513;
    margin-left: 66px;
    MARGIN-TOP: -12PX;
}
.features__list{
    list-style: none;
}
.featrues__topic{
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 39px;
    MARGIN-LEFT: 40PX;
    letter-spacing: 3px;
    margin-bottom: 19px;
}
.premium + .featrues__topic{
    margin-bottom: 20px;
    margin-top: 36px;
    margin-left: 32px;
}
.personal + .featrues__topic{
    margin-bottom: 20px;
    margin-top: 41px;
}
.features__item:first-child > .features__text{
    margin-left: 30px;
}
.features__item:nth-child(2)  >.features__text{
    margin-left: 9px;
}
.features__item:last-child > .features__text{
    margin-left: 19px;
}
.features__adv-list.premium{
    margin-left: 20px;
}
.features__adv-list.personal{
    margin-left: 13px;
}
.uniq-p-wrap{
    margin-left: -25px;
    margin-bottom: 0px;
    margin-top: -6px;
}
.premium-p-wrap{
    margin-left: -8px;
    margin-top: -6px;
}
.personal-p-wrap{
    margin-left: -21px;
    margin-top: -6px;
}
.features__text,
.features__adv-item{
    font-size: 18px;
    list-style-type: disc;
    line-height: 34px;
}
.features__item{
    float:left;
    margin-right: 70px;
    width: 200px;
    /* background:red; */
}
.features__item:last-child{
    margin-right: 0px;
}
.news{
    padding-top:50px;
   
    width:1100px;
    margin: auto;
}
.news > .caption{
    font-size: 52px;
    margin-bottom: 30px;
}
.news__block{
  
}
.news__content{
    float:left;
    width: 900px;
    font-family: 'Roboto', sans-serif, Arial;
}
.news-img{
    margin-left: 20px;
    margin-top: 31px;
}
.news__item:nth-child(2) .news-img{
    margin-top: 29px;
}
.news__item:last-child .news-img{
    margin-top: 22px;
}
.news__list{
    list-style:none;
}
.news__item{
   
    margin-bottom: 30px;
}
.news__icon{
    margin-right: 18px;
    float:left;
}
.news__item:nth-child(2) .news__desc{
    margin-top:15px;
}
.news__item:nth-child(3) .news__desc{
    margin-top:14px;
}
.news__desc-date{
    color:#ccc;
}
.news__desc-date{
    line-height: 30px;
    color: #ccc;
    font-size: 13px;
    margin-left: -1px;
    display: inline;
}
.news__desc-title{
    font-size: 15px;
    font-weight: bold;
}
.news__desc-text{
    margin-top: 11px;
    line-height: 30px;
}

.sidenews{
    width:200px;
    float:right;
}
.sidenews__container{
    margin-left:20px;
}
.sidenews__title{
    font-size: 15px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 20px;
}
.sidenews__item:nth-child(2) .sidenews__pic,
.sidenews__item:nth-child(1) .sidenews__pic{
    margin-bottom: 15px;
}
.sidenews__list{
    list-style: none;
}
.pagination{

    margin-top: 60px;
}
.pagination__display{
    float:left;   
    margin-left: 380px;
    font-size: 13px; 
    margin-top: 6px;
}
.pagination__prev{
    float:left;
    margin-right: 12px;
}
.pagination__pages{
    list-style: none;
}
.pagination__pages-item{
    float:left;
}
.pagination__controlls{

    display: inline-block;
    width:240px;
    margin-left: 21px;
}
.pagination__pages li{
    margin-right: 16px;
   
   
}
.pagination__pages-item a{
    text-decoration: none;
    color: #000;
    width: 27px;
    line-height: 26px;
}
.pagination__pages-item:first-child a{
   
    display: inline-block;
    color:#fff;
    background: #000;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
}
.pagination__pages li:last-child{
    margin-right:0px;
}
.pagination__next{
    margin-left:17px;
}
.footer{
    background-color: #000;
    color: #fff;
}
.container-footer{
    width: 1100px;
    margin: 0 auto;
}
.footer__text{
    width:250px;
    /* background-color:red; */
    float:left;
    font-family: 'Open Sans',sans-serif, Arial;
    font-weight: lighter;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 20px;
}
.footer__logo{
    color: #b46f14;
    font-size: 18px;
    line-height: 76px;
    font-family: gora_free;
    float:left;
    margin-left: 201px;
}
.social-contacts{
    width: 180px;
    /* background-color:green; */
    float:right;
    line-height: 76px;
}
.social-contacts__text{
    font-size: 12px;
    font-weight: bold;
    margin-left: -14px;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top: -13px;
}
.social-contacts__list{
    list-style: none;
    margin-top: -22px;
    margin-left: -13px;
}
.social-contacts__item{
    float:left;
   
}
.social-contacts__link{
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 17px;
    background-color: #d0d0d0;
    margin-right: 11px;
}
.social-contacts__item:nth-child(1) a{
    background-image: url('image/vk.svg');
    background-repeat: no-repeat;
    background-position: 3px 6px;
   
}
.social-contacts__item:nth-child(2) a{
    background-image: url('image/fb.svg');
    background-position: 7px 3px;
    background-repeat: no-repeat;
}
.social-contacts__item:nth-child(3) a{
    background-image: url('image/twitter.svg');
    background-position: 4px 5px;
    background-repeat: no-repeat;
}
.social-contacts__item:nth-child(4) a{
    background-image: url('image/google.svg');
    background-position: 2px 4px;
    background-repeat: no-repeat;
}
.social-contacts__item:nth-child(5) a{
    background-image: url('image/mail.svg');
    background-position: 4px 4px;
    background-repeat: no-repeat;
}
/* .nav-wrap{
    background-color:black;
    margin:0;padding:0;
}
.main-nav{
   
   margin: 0 20px;
   display:flex;
   justify-content: space-between;
}
.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-item{
    margin-right: 30px;
}
.nav-item:last-child{
    margin-right: 0px;
}
.nav-item a{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 54px;
}
.nav-contacts{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
   
}
.nav-contacts a{
    font-size:14px;
    color:#b46f14;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.nav-number{
    color:#fff;
    font-size:21px;
    margin: 0;
    padding: 0;
}
.logo{
    font-size:18px;
    color:#b46f14;
    text-decoration: none;
    line-height: 54px;
    margin: 0;
    padding: 0;
}
.just-do-it{
    background-color:#fff;
    text-align: center;
    margin-top:80px;
    margin-bottom:60px;
}
.features-wrap{
    background-color:#000;
    color:#fff;
}
.wrapper{
    margin: 0 20px;
} */